@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
}

body {
  background-color: black;
    color: white;
}

.left {
  width: 28vw;
  padding: 10px;
}

.right {
  width: 72vw;
}

.home ul li {
  width: 15px;
  list-style: none;
  display: flex;
  gap: 15px;
  padding-top: 15px;
}

.spotifyLogo {
  width: 20px;
}

.playlistLogo {
  width: 20px;
}

.library{
    min-height: 80vh;
    position: relative;
}
.heading{
  width: 100%;
  display: flex;
  gap: 15px;
  padding: 23px 14px;
  align-items: center;
  font-weight: bold;
}

.footer{
    display: flex;
    gap:11px;
    font-size: 10px;
    position: absolute;
    bottom: 0;
}

.footer a{
    color: grey;
}

.header{
  justify-content: space-between;
}

.header > * {
  padding: 18px;
}